@use "../abstracts/variables" as *;
@use "../abstracts/autoprefixer" as *;

.pagination-link {
  @include d-flex;
  @include flex-wrap;
  @include justify-content-center;
  gap: 15px;
  a {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    color: $color-white;
    background: $color-black;
  }
  li.active a,
  a:hover {
    background: $color-orange;
  }
}
